Debug/
Release/
/py/checkpoints/
/py/runs/
/py/figs/
.vs/
*.obj
*.vcxproj.*
/SuperHaxagon.exe
/notes.txt
/addresses.txt
/addresses.txt
training_data.txt
validation_data.txt
*.gch
*.exe
*.pyc
*.model
*.gz